body {
  /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
  /* background: #0f0c29; */
  width: 100%;
  background: radial-gradient(circle, #0f0c29, #021d31, #062141);
  /* position: relative; */
  height: 100vh;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.question-container {
  color: white;
  width: 70%;
  margin: 20px auto;
  /* height: 400px; */
  /* background-color: rgb(224, 75, 75); */
  /* padding: 20px; */
  /* color: white; */
  /* font-weight: bold; */
}
.line-contain {
  width: 90%;
  background-color: #d5d2d2;
  height: 20px;
  margin: 1vw 5vw 1vw 5vw;
  border-radius: 25px;
}
.line {
  width: 20%;
  background-image: linear-gradient(rgb(50, 180, 180), rgb(163, 232, 232));
  /* background-color: rgb(50, 180, 180); */
  /* box-shadow: 2px 2px 4px aqua; */
  height: 20px;
  /* margin: 10px 0px 10px 0px; */
  border-radius: 25px;
  transition: 0.5s;
}
.next-btn,
.reset-btn {
  background-color: rgb(38, 171, 171);
  color: white;
  /* border: 2px solid black; */
  /* border: none; */
  outline: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  width: 15vw;
  min-width: fit-content;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.next-btn:hover,
.reset-btn:hover {
  background-color: transparent;
  border: 1px solid rgb(38, 171, 171);
  transition: 0.3s;
}
.next-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.question-btn {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  font-weight: 500;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.375rem;
  margin: 15px;
}
.result {
  font-family: Outfit, sans-serif;
}
#Ques-Head {
  font-size: 40px;
  /* color: white; */
  background: linear-gradient(white, aqua);
  /* -webkit-background-clip: text; */
  background-clip: text;
  color: transparent;
}
.questionEle {
  font-size: 18px;

  font-weight: 600;
}
/* #category{
    color: rgb(73, 72, 72);
  } */
.buttons {
  width: 40%;
  color: white;
  background-color: rgb(38, 171, 171);
}
.buttons:hover {
  background-color: transparent;
  border: 1px solid rgb(38, 171, 171);
  transition: 0.3s;
}
.optionDiv {
  text-align: center;
}
.pop-up {
  text-align: center;
}
.pop-up h2 {
  font-size: 40px;
}
.abc {
  height: 30px;
  border-radius: 5px;
  width: 100%;
  outline: 2px solid rgb(52, 51, 51);
  position: relative;
  display: block;
}
.minline {
  height: 30px;
  position: absolute;
  background-color: rgba(26, 141, 141, 0.998);
  background-image: linear-gradient(rgba(26, 141, 141, 1), rgb(37, 173, 173));

  /* width: 10%; */
  border: none;
  border-radius: 5px;
  z-index: 3;
  transition: 0.8s;
}
.maxline {
  height: 30px;
  position: absolute;
  /* width: 100%; */
  border: none;
  border-radius: 5px;
  z-index: 1;
  background-image: linear-gradient(rgb(13, 200, 200), rgb(163, 232, 232));
  /* background-color:rgba(0, 255, 255, 1); */
  transition: 0.8s;
}
.scoreline {
  position: absolute;
  height: 30px;
  /* width: 30%; */
  z-index: 2;
  background-image: linear-gradient(rgb(43, 149, 149), rgb(112, 196, 196));
  background-color: rgb(36, 178, 178);
  border: none;
  border-radius: 5px;
  transition: 0.8s;
}
.small-font {
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .buttons {
    width: 100%;
  }
}
.flex {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-page {
  color: white;
  text-align: center;
  border: 2px solid rgb(38, 171, 171);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 2px 2px 4px aqua, inset 2px 2px 4px aqua;
}
.result-page h2 {
  color: rgb(47, 205, 33);
  font-size: 25px;
}
.result-page h1 {
  /* color: rgb(203, 221, 221); */
  background: linear-gradient(white, aqua);
  background-clip: text;
  color: transparent;
  /* font-size: 25px; */
  font-family: "Times New Roman", Times, serif;
}
.time-flex{
  display: flex;
  justify-content: space-between;
}
#time{
  margin: auto 0px;
}
